div(class="container-fluid" style="padding:0")
    div(class="header-card")
        img(src="/images/FLL_Logo_web_white.jpg" alt="FLL SK" width="80pt")
    div(class="header-card")
        h1(class="specmargin") FLL Slovensko
        h4(class="specmargin") Mlynská dolina 41, 81102 Bratislava
        a(href="mailto:registracia@fll.sk") registracia@fll.sk
    div(id="user" class="pull-right")
        if user
            a(href="/profile/" + user.id) #{user.username}
            ="  "
            a(href="/logout") [odhlásiť]
        else
            p not-logged-in