head
    title Teams
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='/javascripts/lib/lib_common.js')
    script(src='/javascripts/lib/lib_event.js')
    script(src='/javascripts/lib/lib_modals.js')
    script(src='/javascripts/lib/lib_program.js')
    script(src='/javascripts/lib/lib_invoice.js')
    script(src='/javascripts/scripts.js')
    script(src='/javascripts/profile.js')
    script(src='/javascripts/team.js')
    script(src='/javascripts/invoice.js')
    script(src='/javascripts/invorg.js')
    script(src='/javascripts/event.js')
    script(src='/javascripts/program.js')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    script(src='https://www.google.com/recaptcha/api.js')
