head
    title Teams
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Global Site Tag (gtag.js) - Google Analytics
    != "<script>var GAUA='" + process.env.GAUA + "';</script>"
    script( async src="https://www.googletagmanager.com/gtag/js?id=" + process.env.GAUA)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments)
        };
        gtag('js', new Date());
        gtag('config', GAUA);

    script(src='/javascripts/lib-pub/moment-with-locales.js')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src=src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
    script(src='/javascripts/lib-pub/bootstrap-editable.min.js')

    script(src="/javascripts/lib-pub/bootstrap-datetimepicker.min.js")
    link(rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css")

    // each async
    script(src="/javascripts/lib-pub/ba-foreach.min.js")

    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css" )

    script(src='/javascripts/lib/lib_common.js')
    script(src='/javascripts/lib/lib_forms.js')
    script(src='/javascripts/lib/lib_event.js')
    script(src='/javascripts/lib/lib_modals.js')
    script(src='/javascripts/lib/lib_program.js')
    script(src='/javascripts/lib/lib_invoice.js')
    script(src='/javascripts/lib/lib_team.js')
    script(src='/javascripts/lib/lib_profile.js')
    script(src='/javascripts/scripts.js')
    script(src='/javascripts/profile.js')
    script(src='/javascripts/team.js')
    script(src='/javascripts/invoice.js')
    script(src='/javascripts/invorg.js')
    script(src='/javascripts/event.js')
    script(src='/javascripts/program.js')
    script(src='/javascripts/admin.js')

    script(src='https://www.google.com/recaptcha/api.js')
