div(class="container-fluid" style="padding:0")
    div(class="header-card")
        img(src="/images/FLL_Logo_web_white.jpg" alt="FLL SK" width="40pt")
    div(class="header-card")
        p(style="margin:0") FLL Slovensko o.z.
        p(style="margin:0") Mlynské nivy 41, Bratislava
    div(id="user" class="pull-right")
        if user
            a(href="/profile?id=" + user.id) #{user.name}
            ="  "
            a(href="/logout") [odhlásiť]
        else
            p not-logged-in