doctype html
html
    include head
    style.
        .mainpnl {
            max-width: 600pt;
        }
        .header-card {
            margin-left: 5pt;
            margin-bottom: 5pt;
            max-width: 400pt;
            float: left;
        }
        .specmargin {
            margin-top:0;
            margin-bottom:0;
        }

    body
        div(class="mainpnl")
            block content
