doctype html
html
    head
        title
            if PageTitle
                =PageTitle
            else
                ="Teams"
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block scripts
    style.
        .mainpnl {
            max-width: 600pt;
        }
        .header-card {
            margin-left: 5pt;
            margin-bottom: 5pt;
            max-width: 400pt;
            float: left;
        }
        .specmargin {
            margin-top:0;
            margin-bottom:0;
        }

    body
        div(class="mainpnl")
            block content
        div
            block content_footer

