doctype html
html
    include head
    style.
        .mainpnl {
            max-width: 600pt;
        }
    body
        div(class="mainpnl")
            div(id="user" class="pull-right")
                if user
                    a(href="/profile?id="+user.id) #{user.name}
                    ="  "
                    a(href="/logout") [odhlásiť]
                else
                    p not-logged-in
            block content
