extends includes/layout_web

block content
    h1 Admin
    div(class="panel panel-primary")
        div(class='panel-heading') Programy/Súťaže
        div(class='panel-body')
            ul(id="allPrograms" class="list-group")
        div(class='panel-footer')
            label Názov nového programu
            input(id='newProgramName' type='text', placeholder='názov nového programu' name='newProgramName' class="form-control")
            button(id='newProgramBtn' type='button' class='btn btn-default') Pridaj program

    div(class="panel panel-primary")
        div(class='panel-heading') Fakturujúce organizácie
        div(class='panel-body')
            ul(id="allInvoicingOrgs" class="list-group")
        div(class='panel-footer')
            label Názov novej organizácie
            input(id='newOrgName' type='text', placeholder='názov novej organizácie' name='newOrgName' class="form-control")
            button(id='newInvOrgBtn' type='button' class='btn btn-default') Pridaj organizáciu

    div(class="panel panel-primary")
        div(class='panel-heading') Aktívne Tímy
        div(class='panel-body')
            div(style="max-height: 400pt; overflow: auto;")
                div(id="activeTeams")

    div(class="panel panel-primary")
        div(class='panel-heading') Vymazané Tímy
        div(class='panel-body')
            div(style="max-height: 400pt; overflow: auto;")
                div(id="inactiveTeams")


    div(class="panel panel-primary")
        div(class='panel-heading') Používatelia
        div(class='panel-body')
            div(style="max-height: 400pt; overflow: auto;")
                div(id="allUsers")


    script.
        viewAdmin.init();