extends includes/layout

block content
    include includes/header-sm
    style.
        td {
            padding:3pt
        }

    h1 Fakturujúca organizácia
    h2 #{(io.org && io.org.name)?io.org.name:"xxx"}, #{(io.org && io.adr.city)?io.adr.city:"xxx"}

    div(class="panel panel-primary")
        div(class='panel-heading') Vystavené faktúry
        div(class='panel-body')
            div(class="form-inline")
                div(class="form-group" style="margin-bottom:8pt;margin-right:5pt")
                    label(for="filterPaidStatus") Zaplatené:
                    select(class="form-control" id="filterPaidStatus")
                        option(value="A") všetky
                        option(value="Y") áno
                        option(value="N") nie
                div(class="form-group" style="margin-bottom:8pt;margin-right:5pt")
                    label(for="filterInvType") Typ:
                    select(class="form-control" id="filterInvType")
                        option(value="A") všetky
                        option(value="P") zálohové
                        option(value="I") daňové
            div(style="height: 400pt; overflow:auto;")
                table(id="allInvoices")

    script.
        viewInvOrg.init();
