extends includes/layout

block content
  div
    h1= title
    h4 Zadajte prihlasovacie meno a heslo.
  div
    form(action="/login" method="post")
      div(class="form-group")
        label(for='username') Meno:
        input(id="username" type='text', placeholder='meno' name='username' class="form-control")
      div(class="form-group")
        label(for='password') Heslo:
        input(id="password" type='password', placeholder='heslo' name='password' class="form-control")
      div(class="form-group")
        button(type="submit" class="btn btn-default") Prihlásiť
  div
    p Ak nemáte prihlasovacie meno a heslo tak si
      = " "
      a(href='/signup') kliknutím sem
      = " "
      span môžete vytvoriť účet
