extends includes/layout_web

block content
    include includes/header-lg
    div
        h1 Spravovanie tímov a registrácia do turnajov
        h4 Zadajte prihlasovacie meno a heslo.
        if success == 0
            div(class="alert alert-warning")
                strong Prihlásenie sa nepodarilo. Nesprávne meno alebo heslo.

    div
        form(action="/login" method="post")
            div(class="form-group")
                label(for='username') Meno:
                input(id="username" type='text', placeholder='meno' name='username' class="form-control" autocomplete="username")
            div(class="form-group")
                label(for='password') Heslo:
                input(id="password" type='password', placeholder='heslo' name='password' class="form-control" autocomplete="current-password")
            div(class="form-group")
                button(type="submit" class="btn btn-default") Prihlásiť
    div
        p Ak nemáte prihlasovacie meno a heslo, tak si
            = " "
            a(href='/signup') kliknutím sem
            = " "
            span môžete vytvoriť účet
        p Ak ste heslo zabudli
            = " "
            a(href='/profile?cmd=resetPwdRequest') kliknutím sem
            = " "
            span ho môžete resetnúť
        p
        p Teams v
            =version


