extends includes/layout

block content
    style.
        .mext {
            padding: 20pt 20pt;
        }

    h1 Profil používateľa:
    div(class='container-fluid mext')
        h2 Detaily
        div(class='row')
            div(class='col-sm-2')
                p Prihlasovacie meno
            div(class='col-sm-10')
                p #{user.username}
        div(class='row')
            div(class='col-sm-2')
                p Plné meno
            div(class='col-sm-10')
                #{user.fullName}
        div(class='row')
            div(class='col-sm-2')
                p e-mail
            div(class='col-sm-10')
                p #{user.email}
    if coach
        div(class='container-fluid mext')
            h2 Tímy, ktoré trénujem
            div(id='coachTeamsList')
                p Žiadny
            button(id='createTeam' type="button" class="btn btn-default" data-toggle="modal" data-target="#newTeamModal") Vytvor nový tím
            div(id='newTeamModal' class='modal fade' role='dialog')
                div(class='modal-dialog')
                    div(class='modal-content')
                        div(class='modal-header')
                            button(type='button', class='close' data-dismiss='modal') &times;
                            h4 Zadaj meno tímu
                        div(class='modal-body')
                            form(class='form-inline')
                                div(id='newTeamName' class='form-group has-warning has-feedback')
                                    input(id="newTeamName" type='text', placeholder='meno timu' name='newTeamName' class="input-lg form-control")
                                    span(class="glyphicon form-control-feedback")
                        div(class='modal-footer')
                            div(class='row')
                                div(class='col-sm-12')
                                    button(id='createTeamBtn' type='button' class='btn btn-default' data-dismiss='modal') Vytvor tím
                            div(class='row')
                                div(class='col-sm-12')
                                    span(id="teamCreateStatus" class="text-warning")

    if memberTeams
        div(class='container-fluid mext')
            h2 Tímy, kde som členom
    script.
        initProfile();
