extends includes/layout

block content
    include includes/header-sm
    h1 Profil používateľa
    div(class="panel panel-primary")
        div(class='panel-heading') Detaily
        div(class='panel-body')
            div(class='form-group')
                label(for='loginName' class='') Prihlasovacie meno
                input(id='loginName' class='form-control' value=profile.username readonly)
            div(class='form-group')
                label(for='fullName' class='') Celé meno
                input(id='fullName' class='form-control' value=profile.fullName readonly)
            if (user && (user.id == profile.id || user.isAdmin))
                div(class='form-group')
                    label(for='email' class='') e-mail
                    input(id='email' class='form-control' value=profile.email readonly)
                div(class='form-group')
                    label(for='phone' class='') Telefón
                    input(id='phone' class='form-control' value=profile.phone readonly)
                div(class='form-group btn-group')
                    button(id="btnEditProfile" type="button" class="btn btn-default") Edituj
                    button(type="button" class="btn btn-default" data-toggle="modal" data-target="#changePasswordModal") Zmeň heslo
        if (user && (user.id == profile.id) || user.isAdmin)
            div(class='panel-footer')
                button(id='createTeam' type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTeamModal") Vytvor nový tím

    if (user && (user.id == profile.id) || user.isAdmin)
        div(id='changePasswordModal' class='modal fade' role='dialog')
            div(class='modal-dialog')
                div(class='modal-content')
                    div(class='modal-header')
                        button(type='button', class='close' data-dismiss='modal') &times;
                        h4 Zmeniť heslo
                    div(class='modal-body')
                        div(class='form-group has-feedback')
                            label Pôvodné heslo
                            input(id='oldPwd' type='password', placeholder='pôvodné heslo' name='oldPassword' class="form-control")
                            span(class="glyphicon form-control-feedback")
                        div(class='form-group')
                            label Nové heslo
                            input(id='newPwd' type='password', placeholder='nové heslo' name='newPassword' class="form-control")
                        div(class='form-group')
                            label Nové heslo - ešte raz
                            input(id='newPwdConf' type='password', placeholder='nové heslo potvrdenie' name='newPasswordConf' class="form-control")
                    div(class='modal-footer')
                        div(class='row')
                            div(class='col-sm-12')
                                span(id="pwdChangeStatus" class="text-warning")
                        div(class='row')
                            div(class='col-sm-12')
                                button(id='PWD'+profile.id type='button' class='btn btn-default changePwdBtn') Zmeň heslo

    if (user && user.isAdmin && profile.id == user.id)
        div(class="panel panel-primary")
            div(class='panel-heading') Administrátor
            div(class='panel-body container-fluid')
                a(href="/admin" class="btn btn-default") Admin funkcie

    if coach && (user && (user.id == profile.id) || user.isAdmin)
        div(class="panel panel-primary")
            div(class='panel-heading') Tímy, ktoré trénujem
            div(id='coachTeamsList' class='panel-body container-fluid')
                div(class='panel col-sm-6')
                    p Žiadny

    if memberTeams && (user && (user.id == profile.id) || user.isAdmin)
        div(class="panel panel-primary")
            div(class='panel-heading') Tímy, v ktorých som členom
            div(id='memberTeamsList' class='panel-body container-fluid')
                div(class='panel col-sm-3')
                    p Žiadny

    if (user && (user.id == profile.id) || user.isAdmin)
        div(id='newTeamModal' class='modal fade' role='dialog')
            div(class='modal-dialog')
                div(class='modal-content')
                    div(class='modal-header')
                        button(type='button', class='close' data-dismiss='modal') &times;
                        h4 Nový tím
                    div(class='modal-body')
                        div(id='newTeamName' class='form-group has-feedback')
                            label Meno tímu
                            input(type='text', placeholder='meno timu' name='newTeamName' class="form-control")
                            span(class="glyphicon form-control-feedback")
                        div(class='form-group')
                            label Program/súťaž
                            select(id='newTeamProgram' class="form-control")
                                option -none-
                    div(class='modal-footer')
                        div(class='row')
                            div(class='col-sm-12')
                                span(id="teamCreateStatus" class="text-warning")
                        div(class='row')
                            div(class='col-sm-12')
                                button(id='CTM'+profile.id type='button' class='btn btn-default createTeamBtn' data-dismiss='modal') Vytvor tím

    if isProgramManager && (user && (user.id == profile.id) || user.isAdmin)
        div(class="panel panel-primary")
            div(class='panel-heading') Programy
            div(class='panel-body container-fluid')
                ul(id="myPrograms" class="list-group")

    div(id="modalDlgs")

    script.
        viewProfile.init();
