extends includes/layout

block content
    include includes/header-sm
    h1 Reset hesla používateľa
    form(id="pwdReset" method="post" action="/profile")
        input(name="cmd" type="hidden" value="resetPwdRequest")
        div(class='form-group')
            label(for='loginName' class='') Zadajte prihlasovacie meno alebo email
            input(id='loginName' name='loginName' class='form-control')
        div(class='form-group')
            button(type="submit" class="btn btn-default") Zmeniť heslo

