extends includes/layout

block content
    div
        h1 Vytvorenie účtu
        h4 Zadajte nové prihlasovacie údaje.
    div
        form(action="/signup" method="post")
            div(class="form-group")
                label(for='email') E-mail:
                input(id="email" type='text', placeholder='email' name='email' class="form-control")
            div(class="form-group")
                label(for='password') Heslo:
                input(id="password" type='password', placeholder='heslo' name='password' class="form-control")
            div(class="form-group")
                div(class="g-recaptcha" data-sitekey="6LdDAyQUAAAAAKrl4Von4pcLwzjgzGqw7p826keb")
            div(class="form-group")
                button(type="submit" class="btn btn-default") Vytvoriť
