extends includes/layout

block content
    h1 Signup

    form(action="/signup" method="post")
        div
            label Username:
            input(type="text" name="username")
        div
            label Password:
            input(type="password" name="password")
        div
            label E-mail:
            input(type="email" name="email")

        div
            input(type="submit" value="Signup")