extends includes/layout

block content
    div
        h1 Vytvorenie účtu
        h4 Zadajte nové prihlasovacie údaje.
    div
        form(action="/signup" method="post")
            div(class="form-group")
                label(for='userName') Prihlasovacie meno:
                input(id="userName" type='text', placeholder='prihlasovacie meno' name='userName' class="form-control")
            div(class="form-group")
                label(for='fullName') Celé meno a priezvisko:
                input(id="fullName" type='text', placeholder='meno a priezvisko' name='fullName' class="form-control")
            div(class="form-group")
                label(for='email') E-mail:
                input(id="email" type='text', placeholder='email' name='email' class="form-control")
            div(class="form-group")
                label(for='password') Heslo:
                input(id="password" type='password', placeholder='heslo' name='password' class="form-control")
            div(class="form-group")
                div(class="g-recaptcha" data-sitekey=captchaSiteKey)
            div(class="form-group")
                button(type="submit" class="btn btn-default") Vytvoriť
