extends includes/layout

block content
    div
        h1 Vytvorenie účtu bolo úspešné
        h4 Pri prihlasovaní použite údaje vložené na predchádzajúcej stránke.
        h4 Pre pokračovanie klinite
            = " "
            a(href='/login') na tento link
