extends includes/layout

block content
    style.
        .card {
            margin-left: 5pt;
            margin-bottom: 5pt;
            max-width: 200pt;
            float: left;
        }
    h1 Profil tímu
    div(class="panel panel-primary")
        div(class='panel-heading') Detaily
        div(class='panel-body')
            div(class='form-group')
                label(for='teamName' class='col-sm-3') Názov
                input(id='teamName' class='col-sm-9 form-control' value=team.name readonly)
    div(class="panel panel-primary")
        div(class='panel-heading') Tréneri
        div(id='coachList' class='panel-body container-fluid')
            div(class='panel col-sm-6')
                p Žiadny
    div(class="panel panel-primary")
        div(class='panel-heading') Členovia tímu
        div(class='panel-body')
            div(id='memberList' class='container-fluid')
                div(class='panel')
                    p Žiadny
        div(class='panel-footer')
            button(id='createMember' type="button" class="btn btn-default" data-toggle="modal" data-target="#newMemberModal") Pridať člena

    div(id='newMemberModal' class='modal fade' role='dialog')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close' data-dismiss='modal') &times;
                    h4 Zadaj detaily člena tímu
                div(class='modal-body')
                    div(id='newMemberName' class='form-group has-feedback')
                        label(for='newMemberName' class="control-label") Celé meno
                        input(type='text', placeholder='meno člena timu' name='newMemberName' class="input-lg form-control")

                    div(id='newMemberEmail' class='form-group has-feedback')
                        label(for='newMemberEmail' class="control-label") Email
                        input(type='email', placeholder='email člena timu' name='newMemberEmail' class="input-lg form-control")

                    div(id='newMemberDOB' class='form-group has-feedback')
                        label(for='newMemberDOB' class="control-label") Dátum narodenia
                        input(type='date', placeholder='dátum narodenia' name='newMemberDOB' class="input-lg form-control")

                div(class='modal-footer')
                    div(class='row')
                        div(class='col-sm-12')
                            button(id='createTeamMemberBtn' type='button' class='btn btn-default' data-dismiss='modal') Vytvor člena
                    div(class='row')
                        div(class='col-sm-12')
                            span(id="createStatus" class="text-warning")
        script.
            initTeam();