extends includes/layout

block content
    style.
        .card {
            margin-left: 5pt;
            margin-bottom: 5pt;
            max-width: 200pt;
            float: left;
        }
        .coach {
            padding: 3pt;
        }

    include includes/header-sm
    h1 Profil tímu

    div(class="panel panel-primary")
        div(class='panel-heading') Detaily
        div(class='panel-body')
            div(class='form-group')
                label(for='teamName') Názov
                input(id='teamName' class='form-control' value=team.name readonly)
            div(class='form-group')
                label(for='progName') Program/Súťaž
                input(id='progName' class='form-control' value=team.programName readonly)
            div(class='form-group' id="eventReg")
                if team.events && team.events.length > 0
                    label(class="label-control") Stretnutia/turnaje
                    for e in team.events
                        =" "
                        a(href="/event/"+e.id) #{e.name}
                        span(id="pInvoice")
                        span(id="iInvoice")
                else
                    if user && (user.isAdmin || user.isCoach)
                        button(class="btn btn-success" data-toggle="modal" data-target="#registerEvent") Registruj na turnaj
            div(class='form-group')
                ul(class='list-group' id="invoices")
        div(class='panel-footer')
            div(class='form-group')
                if user && (user.isAdmin || user.isCoach)
                    button(id="btnFounderDetails" class="btn btn-default") Zriaďovateľ
                    button(id="btnBillingDetails" class="btn btn-default") Fakturačné údaje
                    button(id="btnShippingDetails" class="btn btn-default") Korešpondenčné údaje

    div(id='registerEvent' class='modal fade' role='dialog')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close' data-dismiss='modal') &times;
                    h4 Registrácia
                div(class='modal-body')
                    div(class='form-group')
                        label Dostupné súťaže
                        select(id='availEvents' class="form-control")
                            option -none-
                div(class='modal-footer')
                    div(class='row')
                        div(class='col-sm-12')
                            span(id="registerStatus" class="text-warning")
                    button(id='btnRegister' type='button' class='btn btn-default') Potvrdiť registráciu

    div(class="panel panel-primary")
        div(class='panel-heading') Tréneri
            =" "
            span(id="coachCount")
        div(id='coachList' class='panel-body container-fluid')
            div(class='panel col-sm-6')
                p Žiadny
        if user && (user.isAdmin || user.isCoach)
            div(class='panel-footer')
                button(id='btnAddCoach' type="button" class="btn btn-default")
                    span(class="glyphicon glyphicon-user") +
                    | Pridať trénera

    div(class="panel panel-primary")
        div(class='panel-heading') Členovia tímu
            =" "
            span(id="memberCount")
        div(class='panel-body')
            div(id='memberList' class='container-fluid')
                div(class='panel')
                    p Žiadny
        if user && (user.isAdmin || user.isCoach)
            div(class='panel-footer')
                button(id='createMember' type="button" class="btn btn-default" data-toggle="modal" data-target="#newMemberModal")
                    span(class="glyphicon glyphicon-user") +
                    | Pridať člena

    if user && (user.isAdmin || user.isCoach)
        div(id='newMemberModal' class='modal fade' role='dialog')
            div(class='modal-dialog')
                div(class='modal-content')
                    div(class='modal-header')
                        button(type='button', class='close' data-dismiss='modal') &times;
                        h4 Zadaj detaily člena tímu
                    div(class='modal-body')
                        div(id='newMemberName' class='form-group has-feedback')
                            label(for='newMemberName' class="control-label") Celé meno
                            input(type='text', placeholder='meno člena timu' name='newMemberName' class="input-lg form-control")

                        div(id='newMemberEmail' class='form-group has-feedback')
                            label(for='newMemberEmail' class="control-label") Email
                            input(type='email', placeholder='email člena timu' name='newMemberEmail' class="input-lg form-control")

                        div(id='newMemberDOB' class='form-group has-feedback')
                            label(for='newMemberDOB' class="control-label") Dátum narodenia
                            input(type='date', placeholder='dátum narodenia' name='newMemberDOB' class="input-lg form-control")

                    div(class='modal-footer')
                        div(class='row')
                            div(class='col-sm-12')
                                span(id="createStatus" class="text-warning")

                        div(class='row')
                            div(class='col-sm-12')
                                button(id='createTeamMemberBtn' type='button' class='btn btn-default') Vytvor člena

    div(id="modalDlgs")

    script.
        viewTeam.init();