div
    div
        img(src=siteUrl+"/images/FLL_Logo_web_white.jpg" alt="FLL Logo" width="80pt")
    div
        h2 FLL Slovensko
        h4 Mlynská dolina 41, 81102 Bratislava
div
    h3
        !=title
    p
        !=message

