div
    div
        img(src=siteUrl+"/images/FLL_Logo_web_white.jpg" alt="FLL Logo" width="80pt")
    div
        h2 FLL Slovensko
        h4 Mlynská dolina 41, 81102 Bratislava
div
    h3 Heslo bolo zmenené.
    p Heslo pre používateľa #{user.username} bolo zmenené.
    p Ak ste zmenu nevykonali vy, alebo nebola urobená na váš podnet, tak nás kontaktujte na teams-podpora@fll.sk