div
    div
        img(src=siteUrl+"/images/FLL_Logo_web_white.jpg" alt="FLL Logo" width="80pt")
    div
        h2 FLL Slovensko
        h4 Mlynská dolina 41, 81102 Bratislava
div
    h3 Reset hesla
    p Tento email ste dostali preto, lebo niekto požiadal o reset hesla pre účet #{user.username}
    p Kliknutím na link uvedený nižšie budete môcť zadať nové heslo.
        br
        a(href=link)=link