div
    div
        img(src=siteUrl+"/images/FLL_Logo_web_white.jpg" alt="FLL Logo" width="80pt")
    div
        h2 FLL Slovensko
        h4 Mlynská dolina 41, 81102 Bratislava
div
    h3 Potvrdenie vytvorenia účtu
    p Ďakujeme za vašu registráciu na http://www.fll.sk/teams
    p Vaše prihlasovacie meno je
        =" "
        b #{user.username}